In [1]:
import pandas as pd
from pymorphy2 import MorphAnalyzer

morph = MorphAnalyzer()

In [2]:
def process_xlsx(path: str, meta: str):
    excel = pd.ExcelFile(path)
    words = []
    for sheet_name in excel.sheet_names:
        sheet_df = pd.read_excel(excel, sheet_name=sheet_name, skiprows=1, header=None)

        for col in sheet_df.columns:
            # 0 - base, 1 - advanced
            for word in sheet_df.loc[sheet_df[col].notna(), col]:
                weight = 1
                if word[0] == "!":
                    weight = 5
                    word = word[1:]
                words.append(
                    {
                        "meta": meta,
                        "topic": sheet_name,
                        "weight": weight,
                        "type": col,
                        "word": morph.normal_forms(word)[0],
                    }
                )
    return words

In [3]:
df = []
df.extend(process_xlsx("data/topics/Environmental.xlsx", "env"))
df.extend(process_xlsx("data/topics/Social.xlsx", "social"))
df.extend(process_xlsx("data/topics/Governance.xlsx", "gov"))
df = pd.DataFrame(df)
df.head()

  meta   topic  weight  type          word
0  env  Климат       1     0           ch4
1  env  Климат       1     0           co2
2  env  Климат       1     0  ghg protocol
3  env  Климат       1     0           n2o
4  env  Климат       1     0       scope 1

In [4]:
df.shape

(3157, 5)

In [5]:
df.to_csv("topic_words.csv.zip", index=False)